<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="Gazel.LicenseKey" value="KHE/OjA2PSA2NwwnPHFpcTE2OzIjIypxf3NxPzo+OicgcWkocTI/PzwkNjcMITw8Jww9Mj42ICMyMDYgcWkIcRE6IT4yIDJxDn9xPjIrDDcyJzZxaXFhY2FgYmFgYmNjY2NjY3F/cT4yKwwxJiA6PTYgIAwgNiElOjA2DDA8Jj0ncWliY2Njf3E+MisMJDYxDCA2ISU6MDYMMDwmPSdxaWJjY2N/cT4yKww3MQwnMjE/NgwwPCY9J3FpYmNjY39xMj8/PCQ2NwwyIyM/OjAyJzo8PQwnKiM2IHFpCHEANiElOjA2EiMjPzowMic6PD1xf3EENjEANiElOjA2ADYhJTowNhA/OjY9JxIjIz86MDInOjw9cX9xBDYxADYhJTowNh46Nzc/NiQyITYSIyM/OjAyJzo8PXF/cR4lMAA2ISU6MDYQPzo2PScSIyM/OjAyJzo8PXEOLi4=.4tbI7TuwXCmyVk2D8Vdr9+DzoODDParuZq1wEx4lV4U=.H8itCt+npuKSYqN8DX8tS0JZudDiXvO9S781lX3jFjivyyneifhR0BTuP+fdNDJq479C2x9ymA3xymMohgrG4LAzfI5ZpFIUG7WBvDf6kSCzfTsYHhwIUQJltXAYalxUFrs2va7ZaeMADYQ3nzN4hIrgINwYNfQc8xK6sktMGC9yteWGLaenZXeMefOdsXl7MxJaf7wCMULH9Mtbd1JFf2MnOEw5hLeBAEnu8bpoDTZW0VOtxyYotdTQqn4ZnoTzgVkvQ0/DfN1PhHkaXKzwXOxwm8/GZdJItZRb30LVgMyPDXXaT1/qARj1uLDeKmQ7NCAayxUsnp6lmxoSrPtedA=="/>
	</appSettings>
	<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>