<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="Gazel.LicenseKey" value="KHE/OjA2PSA2NwwnPHFpcTQwMSEyOj0gcX9zcT86PjonIHFpKHEyPz88JDY3DCE8PCcMPTI+NiAjMjA2IHFpCHEfNjIhPXEOf3E+MisMNzInNnFpcWFjampjZmJjY2NjY2NjcX9xMj8/PCQ2NwwyIyM/OjAyJzo8PQwnKiM2IHFpCHEANiElOjA2EiMjPzowMic6PD1xf3EENjEANiElOjA2ADYhJTowNhA/OjY9JxIjIz86MDInOjw9cX9xBDYxADYhJTowNh46Nzc/NiQyITYSIyM/OjAyJzo8PXF/cR4lMAA2ISU6MDYQPzo2PScSIyM/OjAyJzo8PXEOLi4=.mfCftqz0p/hmDp55CGsjHjoOUw6VdoY5FC7MpaLUK+M=.XD/xR/9ed2vFzTy9jpehJ9MfeCcwMJokWqLiGDPwZq/kMOXAYN3PIyun0cmTqXRkTvfyUgsQq+T/GWIh0ts5IinFVkE5dqHRlKi39AriSJZ4lh4F3SMQyWKCjUqVmM09R0PZ+FRKDhSRIHG42N9DlrpUAYJBZGjYqTnftk/7ekJUuQ8XexWPOeSFMEqoixsy/EgHZndRtuym/RSDmhjq4GKjHq7CsmHxh9Mfv4q6WdIlGdAUht+y2shGZYlZGwRCL0j4X2MU4OT7aaSc4o3KW/5it0sCrrrARkci1FRRr8leJcTfHa3DPCgfw6iTLsaQ8xaaJmxSVX7foxFAXFyDsg=="/>
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.webServer>
	<staticContent>
		<mimeMap fileExtension=".yaml" mimeType="text/yaml" />
	</staticContent>
    <handlers>

		<remove name="ExtensionlessUrl-ISAPI-4.0_32bit" />
		<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
		<remove name="ExtensionlessUrl-Integrated-4.0" />

		<add name="ExtensionlessUrl-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,PUT,PATCH,DELETE,OPTIONS,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
		<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,PUT,PATCH,DELETE,OPTIONS,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
		<add name="ExtensionlessUrl-Integrated-4.0" path="*." verb="GET,HEAD,POST,PUT,PATCH,DELETE,OPTIONS,DEBUG" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" responseBufferLimit="0" />
		<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
		<remove name="OPTIONSVerbHandler" />
		<remove name="TRACEVerbHandler" />
		<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
	</handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>