openapi: 3.0.1
info:
  title: Swagger Hangmen
  description: This is the swagger design of the hangman project's word repository API.
  termsOfService: https://github.com/SeferMirza/learn/tree/master/src/learn-console/
  contact:
    email: sefermirza@gmail.com
  version: 1.0.0
servers:
  - url: http://Learn.Hangman/
tags:
  - name: word
    description: Hangman words database
paths:
  /words:
    get:
      tags:
        - word
      summary: Returns a random word in the database.
      description: Returns a random word in the database.
      operationId: getWord
      responses:
        '200':
          description: succes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/out-word-s'
            application/xml:
              schema:
                $ref: '#/components/schemas/out-word-s'
        '400':
          description: Invalid word supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
            application/xml:
              schema:
                $ref: '#/components/schemas/400'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
            application/xml:
              schema:
                $ref: '#/components/schemas/404'
        '405':
          description: Invalid input
          content: {}
    post:
      tags:
        - word
      summary: Adds a word in the database.
      description: Adds a word in the database
      operationId: postWord
      requestBody:
        description: Add new word
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/in-word-l'
          application/xml:
            schema:
              $ref: '#/components/schemas/in-word-l'
        required: true
      responses:
        '200':
          description: succes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/out-word-l'
            application/xml:
              schema:
                $ref: '#/components/schemas/out-word-l'
        '400':
          description: Invalid word supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
            application/xml:
              schema:
                $ref: '#/components/schemas/400'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
            application/xml:
              schema:
                $ref: '#/components/schemas/404'
        '405':
          description: Invalid input
          content: {}
      x-codegen-request-body-name: word
  /words/{id}:
    put:
      tags:
        - word
      summary: Update word
      description: Update word
      operationId: putWord
      parameters:
        - name: id
          in: path
          required: true
          schema: {}
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/in-word-l'
        required: true
      responses:
        '200':
          description: succes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/out-word-l'
            application/xml:
              schema:
                $ref: '#/components/schemas/out-word-l'
        '400':
          description: Invalid word supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
            application/xml:
              schema:
                $ref: '#/components/schemas/400'
        '404':
          description: Not found
          content: {}
        '405':
          description: Invalid input
          content: {}
      x-codegen-request-body-name: word
  /words?level=1:
    get:
      tags:
        - word
      summary: Return random word from words with given level.
      description: Return random word from words with given level.
      operationId: getWordByLevel
      parameters:
        - name: level
          in: query
          description: Return random word from words with given level in database.
          schema:
            type: integer
      responses:
        '200':
          description: succes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/out-word-m'
            application/xml:
              schema:
                $ref: '#/components/schemas/out-word-m'
        '400':
          description: Invalid word supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
            application/xml:
              schema:
                $ref: '#/components/schemas/400'
        '404':
          description: Not found
          content: {}
        '405':
          description: Invalid input
          content: {}
components:
  schemas:
    '400':
      type: object
      properties:
        id:
          type: integer
          description: fail code
          format: int64
        message:
          type: string
          description: error message
          example: Wrong
      xml:
        name: fail
    '404':
      type: object
      properties:
        id:
          type: integer
          description: fail code
          format: int64
        message:
          type: string
          description: error message
          example: Error
      xml:
        name: fail
    out-word-s:
      type: object
      properties:
        word:
          type: string
      xml:
        name: Word
    out-word-m:
      type: object
      properties:
        word:
          type: string
        level:
          type: integer
          format: int32
      xml:
        name: Word
    out-word-l:
      type: object
      properties:
        id:
          type: integer
          format: int64
        word:
          type: string
        level:
          type: integer
          format: int32
        language:
          type: string
          enum:
            - Türkçe
            - İngilizce
      xml:
        name: Word
    in-word-l:
      type: object
      properties:
        word:
          type: string
        level:
          type: integer
          format: int32
        language:
          type: string
          enum:
            - Türkçe
            - İngilizce
      xml:
        name: Word
