swagger: '2.0'
info:
  description: This is the swagger design of the hangman project's word repository API.
  version: 1.0.0
  title: Swagger Hangmen
  termsOfService: https://github.com/SeferMirza/learn/tree/master/src/learn-console/
  contact:
    email: sefermirza@gmail.com
host: Learn.Hangman
tags:
  - name: word
    description: Hangman words database
schemes:
  - http
paths:
  /words:
    get:
      tags:
        - word
      summary: Returns a random word in the database.
      description: Returns a random word in the database.
      operationId: getWord
      consumes:
        - application/json
        - application/xml
      produces:
        - application/json
        - application/xml
      responses:
        '200':
          description: succes
          schema:
            $ref: '#/definitions/word-s'
        '400':
          description: Invalid word supplied
          schema:
            $ref: '#/definitions/400'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/404'
        '405':
          description: Invalid input
    post:
      tags:
        - word
      summary: Adds a word in the database.
      description: Adds a word in the database
      parameters:
        - in: body
          name: word
          required: true
          description: Add new word
          schema:
            $ref: '#/definitions/word-l'
      operationId: postWord
      consumes:
        - application/json
        - application/xml
      produces:
        - application/json
        - application/xml
      responses:
        '200':
          description: succes
          schema:
            $ref: '#/definitions/word-l'
        '400':
          description: Invalid word supplied
          schema:
            $ref: '#/definitions/400'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/404'
        '405':
          description: Invalid input
    put:
      tags:
        - word
      summary: Kelimelerden bodydeki id'si eşleşen kelimeyi güncelle
      description: Kelimelerden bodydeki id'si eşleşen kelimeyi güncelle
      operationId: putWord
      produces:
        - application/json
        - application/xml
      parameters:
        - in: body
          name: word
          required: true
          description: Yeni kelime ekle
          schema:
            $ref: '#/definitions/word-l'
      responses:
        '200':
          description: succes
          schema:
            $ref: '#/definitions/word-l'
        '400':
          description: Invalid Kelime supplied
          schema:
            $ref: '#/definitions/400'
        '404':
          description: Not found
        '405':
          description: Invalid input
  /words?level=1:
    get:
      tags:
        - word
      summary: Return random word from words with given level.
      description: Return random word from words with given level.
      operationId: getWordByLevel
      produces:
        - application/json
        - application/xml
      parameters:
        - in: query
          name: level
          description: Return random word from words with given level in database.
          required: false
          type: integer
      responses:
        '200':
          description: succes
          schema:
            $ref: '#/definitions/word-m'
        '400':
          description: Invalid Kelime supplied
          schema:
            $ref: '#/definitions/400'
        '404':
          description: Not found
        '405':
          description: Invalid input
definitions:
  '400':
    type: object
    properties:
      id:
        type: integer
        format: int64
        description: fail code
      message:
        type: string
        description: error message
        example: Wrong
    xml:
      name: fail
  '404':
    type: object
    properties:
      id:
        type: integer
        format: int64
        description: fail code
      message:
        type: string
        description: error message
        example: Error
    xml:
      name: fail
  word-s:
    type: object
    properties:
      word:
        type: string
    xml:
      name: Word
  word-m:
    type: object
    properties:
      word:
        type: string
      level:
        type: integer
        format: int32
    xml:
      name: Word
  word-l:
    type: object
    properties:
      id:
        type: integer
        format: int64
      word:
        type: string
      level:
        type: integer
        format: int32
      language:
        type: string
        enum:
          - Türkçe
          - İngilizce
    xml:
      name: Word
