<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="Gazel.LicenseKey" value="KHE/OjA2PSA2NwwnPHFpcTQwMSEyOj0gcX9zcT86PjonIHFpKHEyPz88JDY3DCE8PCcMPTI+NiAjMjA2IHFpCHEfNjIhPXEOf3E+MisMNzInNnFpcWFjampjZmJjY2NjY2NjcX9xMj8/PCQ2NwwyIyM/OjAyJzo8PQwnKiM2IHFpCHEANiElOjA2EiMjPzowMic6PD1xf3EENjEANiElOjA2ADYhJTowNhA/OjY9JxIjIz86MDInOjw9cX9xBDYxADYhJTowNh46Nzc/NiQyITYSIyM/OjAyJzo8PXF/cR4lMAA2ISU6MDYQPzo2PScSIyM/OjAyJzo8PXEOLi4=.mfCftqz0p/hmDp55CGsjHjoOUw6VdoY5FC7MpaLUK+M=.XD/xR/9ed2vFzTy9jpehJ9MfeCcwMJokWqLiGDPwZq/kMOXAYN3PIyun0cmTqXRkTvfyUgsQq+T/GWIh0ts5IinFVkE5dqHRlKi39AriSJZ4lh4F3SMQyWKCjUqVmM09R0PZ+FRKDhSRIHG42N9DlrpUAYJBZGjYqTnftk/7ekJUuQ8XexWPOeSFMEqoixsy/EgHZndRtuym/RSDmhjq4GKjHq7CsmHxh9Mfv4q6WdIlGdAUht+y2shGZYlZGwRCL0j4X2MU4OT7aaSc4o3KW/5it0sCrrrARkci1FRRr8leJcTfHa3DPCgfw6iTLsaQ8xaaJmxSVX7foxFAXFyDsg=="/>
	</appSettings>
	<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
    </compilers>
  </system.codedom>
</configuration>
