<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="Gazel.LicenseKey" value="KHE/OjA2PSA2NwwnPHFpcTQwMSEyOj0gcX9zcT86PjonIHFpKHEyPz88JDY3DCE8PCcMPTI+NiAjMjA2IHFpCHEeJj8nOj02J3F/cRo9JTY9JzolcX9xBiNxf3EUMik2P3F/cRUhMj42JDwhOHF/cRQwMSEyOj0gcQ5/cT4yKww3Mic2cWlxYWNqamNmY2pjY2NjY2Nxf3EyPz88JDY3DDIjIz86MDInOjw9DCcqIzYgcWkIcQA2ISU6MDYSIyM/OjAyJzo8PXF/cQQ2MQA2ISU6MDYANiElOjA2ED86Nj0nEiMjPzowMic6PD1xf3EENjEANiElOjA2Hjo3Nz82JDIhNhIjIz86MDInOjw9cX9xHiUwADYhJTowNhA/OjY9JxIjIz86MDInOjw9cQ4uLg==.D5Q2NGTHg0fuH3HuMc5AJdDsMWeBXU2AOfU3YZrxcjQ=.I6eBOJUDSoG3KGBuM+it+trjlrWJd+mcOwzG7wi8AeauroEm+BeKaqiAu9IF5NpvsIriG8chxy4qY8XdJ4A4euhcYwaCJ4HutHzeksrMkd/TvEDH4crV3WL2I+Sinc8p3avE9Uk83TTUC6hYypGCoo4QnNCRfNVIaDYoZ9M6CW5E6Q+NeFbwXcdwLWbh4icesUxCG1HhJ+a9LOwzlPV00j+mFW73ht6g8nWKZ0VT9Krqw7aJSTAdQCW05B4KGTSKfaxGE8up+mrblYiW7BIRQ7pP1Y7EIVHULjXHHZ0oEPIvQBoP2aLBSbbAo4nvehcoPdfdIujkg94xmKbN2tNdnA=="/>
	</appSettings>
	<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
    </compilers>
  </system.codedom>
</configuration>